<div class="container">
    <table class="table table-bordered">
        <tr>
            <td>Nombre</td>
            <td>Primer apellido</td>
            <td>Segundo apellido</td>
        </tr>
        <tr *ngFor="let item of userList | paginate: { itemsPerPage: 7, currentPage: page }">
            <td>{{item.Nombre}}</td>
            <td>{{item.Apellido1}}</td>
            <td>{{item.Apellido2}}</td>
        </tr>
    </table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>