<div class="row">
    <ol>
        <li><strong>NORMATIVA APLICABLE</strong></li>
    </ol>
    <p>El apartado segundo del artículo 22 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
        Información y de Comercio Electrónico (en adelante, LSSI-CE), establece lo siguiente:</p>
    <p>&nbsp;</p>
    <ol>
        <li><em>Los prestadores de servicios podrán utilizar dispositivos de almacenamiento y recuperación de datos en
                equipos terminales de los destinatarios, a condición de que los mismos hayan dado su consentimiento
                después de que se les haya facilitado información clara y completa sobre su utilización, en particular,
                sobre los fines del tratamiento de los datos, con arreglo a lo dispuesto en la Ley Orgánica 15/1999, de
                13 de diciembre, de Protección de Datos de Carácter Personal.</em></li>
    </ol>
    <p><em>Cuando sea técnicamente posible y eficaz, el consentimiento del destinatario para aceptar el tratamiento de
            los datos podrá facilitarse mediante el uso de los parámetros adecuados del navegador o de otras
            aplicaciones, siempre que aquél deba proceder a su configuración durante su instalación o actualización
            mediante una acción expresa a tal efecto.</em></p>
    <p><em>Lo anterior no impedirá el posible almacenamiento o acceso de índole técnica al solo fin de efectuar la
            transmisión de una comunicación por una red de comunicaciones electrónicas o, en la medida que resulte
            estrictamente necesario, para la prestación de un servicio de la sociedad de la información expresamente
            solicitado por el destinatario.</em></p>
    <p>&nbsp;</p>
    <p>Según recoge la “Guía sobre el uso de las cookies”, publicada por la Agencia Española de Protección de Datos (en
        adelante, AEPD) en el año 2013, la LSSI-CE es aplicable a cualquier tipo de archivo o dispositivo que se
        descarga en el equipo terminal de un usuario con la finalidad de almacenar datos que podrán ser actualizados y
        recuperados por la entidad responsable de su instalación. La cookie es uno de esos dispositivos de uso
        generalizado por lo que, en adelante, denominaremos genéricamente estos dispositivos como cookies.</p>
    <p>Quedan exceptuadas del cumplimiento de las obligaciones establecidas en el artículo 22.2 de la LSSI-CE las
        cookies utilizadas para alguna de las siguientes finalidades:</p>
    <p>&nbsp;</p>
    <ol>
        <li>Permitir únicamente la comunicación entre el equipo del usuario y la red.</li>
        <li>Estrictamente prestar un servicio expresamente solicitado por el usuario</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="2">
        <li><strong>TIPOS DE COOKIES Y SU FINALIDAD</strong></li>
    </ol>
    <p>Una cookie es un fichero que se descarga en su ordenador, las cuales permiten a una página web, entre otras
        cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y,
        dependiendo de la información que contengan y de la forma en que utilice su ordenador, pueden utilizarse para
        reconocer al usuario.</p>
    <p>&nbsp;</p>
    <p>Tal como recoge la “Guía sobre el uso de las cookies” de la Agencia Española de Protección de Datos, según la
        finalidad para la que se traten los datos obtenidos a través de las cookies, existen diferentes tipos:</p>
    <p>&nbsp;</p>
    <ol>
        <li><strong>Cookies técnicas:</strong>Son aquéllas que permiten al usuario la navegación a través de una página
            web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan
            como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes
            de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un
            pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad
            durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a
            través de redes sociales.</li>
    </ol>
    <p>&nbsp;</p>
    <ol>
        <li><strong>Cookies de personalización:</strong>Son aquéllas que permiten al usuario acceder al servicio con
            algunas características de carácter general predefinidas en función de una serie de criterios en el terminal
            del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la
            configuración regional desde donde accede al servicio, etc.</li>
    </ol>
    <p>&nbsp;</p>
    <ol>
        <li><strong>Cookies de análisis:</strong>Son aquéllas que permiten al responsable de las mismas, el seguimiento
            y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información
            recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web,
            aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios,
            aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que
            hacen los usuarios del servicio.</li>
    </ol>
    <p>&nbsp;</p>
    <ol>
        <li><strong>Cookies publicitarias:</strong>Son aquéllas que permiten la gestión, de la forma más eficaz posible,
            de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o
            plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la
            frecuencia en la que se muestran los anuncios.</li>
    </ol>
    <p>&nbsp;</p>
    <ol>
        <li><strong>Cookies de publicidad comportamental:</strong>Son aquéllas que permiten la gestión, de la forma más
            eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web,
            aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del
            comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación,
            lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <ol start="3">
        <li><strong>PRINCIPIO DE INFORMACIÓN</strong></li>
    </ol>
    <p>La información que se obtenga a través de las cookies que se instalen en su ordenador, será utilizada con las
        siguientes finalidades:</p>
    <p>&nbsp;</p>
    <p>EJEMPLO: garantizar la calidad, seguridad y mejora de los servicios ofrecidos.</p>
    <p>&nbsp;</p>
    <p>Los destinatarios de la información que se obtenga a través de las cookies que se instalen en su ordenador serán
        las siguientes entidades:</p>
    <p>&nbsp;</p>
    <ol>
        <li>Nuestra entidad como editor responsable de la web y responsable del tratamiento.</li>
        <li>Las entidades siguientes, directamente relacionadas con nuestra entidad (si es el caso):&nbsp; Google.</li>
    </ol>
    <p>&nbsp;</p>
    <p>Las cookies que utiliza nuestra web son:</p>
    <p>&nbsp;</p>
    <table class="table table-bordered" width="550">
        <thead>
            <tr>
                <td width="83">COOKIE</td>
                <td width="107">DOMINIO</td>
                <td width="92">DURACIÓN</td>
                <td width="210">PROPÓSITO</td>
                <td width="57">NIVEL</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="83">Cookies de análisis</td>
                <td width="107">afc-economistas.com</td>
                <td></td>
                <td>Cookies que permiten cuantificar el número de usuarios y así realizar la medición y análisis
                    estadístico de la utilización que hacen los usuarios del servicio ofertado.</td>
                <td>GOOGLE ANALYTICS</td>
            </tr>
            <tr>
                <td width="83">_utma</td>
                <td width="107">afc-economistas.com</td>
                <td>2 años después de su creación</td>
                <td></td>
                <td>GOOGLE ANALYTICS</td>
            </tr>
            <tr>
                <td width="83">_utmb</td>
                <td width="107">afc-economistas.com</td>
                <td>30 minutos después de su creación</td>
                <td></td>
                <td>GOOGLE ANALYTICS</td>
            </tr>
            <tr>
                <td width="83">_utmc</td>
                <td width="107">afc-economistas.com</td>
                <td>Al finalizar la sesión de navegación</td>
                <td></td>
                <td>GOOGLE ANALYTICS</td>
            </tr>
            <tr>
                <td width="83">_utmz</td>
                <td width="107">afc-economistas.com</td>
                <td>6 meses después de su creación</td>
                <td></td>
                <td>GOOGLE ANALYTICS</td>
            </tr>
            <tr>
                <td width="83">COOKIES DE SESION</td>
                <td width="107">afc-economistas.com</td>
                <td>Al finalizar sesión de navegación</td>
                <td>Cookies temporales que permanecen en el archivo de cookies de su navegador mientras está en nuestra
                    página web. Es decir, están activas mientras dura la visita a este sitio web y por tanto son
                    borradas de su ordenador al abandonarlo.</td>
                <td>PROPIAS</td>
            </tr>
        </tbody>
    </table>
</div>