.jumbotron {
    position: relative;
    background: none;
}

.jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/Banner-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}

a {
    font-size: 20px;
}

.active {
    border-bottom: 3px solid #7c1fd3;
    color: #7c1fd3 !important;
    width: fit-content;
}

@media screen and (max-width: 800px) {
    .jumbotron {
        position: relative;
        background: none;
    }
    .jumbotron:after {
        height: 250px;
    }
    .jumbotron h1 {
        display: none;
    }
    div ul li a {
        font-size: 16px;
        margin-top: 1px;
    }
}

div ul li a {
    font-size: 22px;
    margin-top: 10px;
}