<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4">Stack Overgame</h1>
</div>
<nav class="mx-auto navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="post">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="auth">Login</a>
        </li>
        <li class="nav-item dropdown d-flex">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{service.Correo}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="No found">Editar perfil</a></li> <!--cambiar enlace-->
            <li><a class="dropdown-item" href="auth">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>