<div class="top row justify-content-center mx-auto shadow" style="width: 450px; ">
    <form role=" form " class="mt-5 center-block ">
        <div *ngIf="!service.token " class="mx-auto ">
            <div class="form-group ">
                <label class="col-4 ">Correo:</label>
                <input class="col-8 " type="email " name="login-username " [(ngModel)]="user.Correo " autofocus>
                <small class="error" *ngFor="let error of service.errors.Correo ">
                    <br />
                    {{ error }}
                </small>
            </div>
            <div class="form-group ">
                <label class="col-4 ">Contraseña:</label>
                <input class="col-8 " type="password" name="login-password " [(ngModel)]="user.password " required>
                <small class="error" *ngFor="let error of service.errors.password ">
                    <br />
                    {{ error }}
                </small>
            </div>
            <div>
                <small class="error" *ngFor="let error of service.errors.non_field_errors ">{{ error }}<br /></small>
            </div>
            <a href="register "><small>¿No tienes una cuenta? Regístrate</small></a>
            <button (click)="login()" class="btn btn-primary col-5 m-2 float-right ">Iniciar sesion</button>
        </div>
        <div class="row mx-auto " *ngIf="service.token">
            <div><label class="col-12 mb-5">¿Desea cerrar sesion?</label></div>
            <button (click)="logout() " class="btn btn-primary mx-auto col-7 m-2 ">Cerrar sesion</button>
        </div>

    </form>
</div>