<div class="container">
    <!-- Button trigger modal -->
    <button *ngIf="service.Correo" type="button" class="btn btn-primary float-right m-2" data-toggle="modal"
        data-target="#exampleModal" (click)="addPost()" data-backdrop="static" data-keyboard="false">
        Añadir publicación<i class="bi bi-plus"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-add-edit-post [post]="post" *ngIf="ActivateAddEditPost"></app-add-edit-post>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Fecha publicación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataitem of PostList | paginate: { itemsPerPage: 7, currentPage: page }">
                <td>
                    <a [routerLink]="['/show-post',dataitem.PostId]">{{dataitem.PostTitulo}}</a>
                </td>
                <td>{{dataitem.PostFechaPublicacion}}</td>
                <td *ngIf="service.userId==dataitem.PostUsuarioId">
                    <button class="btn btn-primary p-1 m-1" data-toggle="modal" data-target="#exampleModal"
                        (click)="editPost(dataitem)" data-backdrop="static" data-keyboard="false"><i
                            class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" (click)="deletePost(dataitem.PostId)" class=" btn btn-primary p-1 m-1">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                <td *ngIf="service.userId!=dataitem.PostUsuarioId"></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
</div>