<div class="container">
    <div id="htmlData">
        <h2>Informe de los usuarios</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userList">
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Apellido1}}</td>
                    <td>{{item.Apellido2}}</td>
                    <td>{{item.Correo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>